body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgJTTZkDCNCNyh5v5dRlTraGZbPaFY_Tdf0Q&usqp=CAU");

}

.click-me {
    font-size: 20px;
    font-family:'Roboto Mono', monospace;;
}